footer {
  background-color: rgb(255, 240, 219);
  height: 350px;
  padding-top: 50px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
  margin: 0px auto;
}

.footer-logo,
.links,
.support,
.social-media-handles {
  display: flex;
  flex-direction: column;
}

.footer-logo,
.links {
  align-items: center;
}

.social-media-handles,
.support {
  align-items: start;
}

.footer-logo img {
  height: 70px;
}

footer h4 {
  font-size: 20px;
  color: rgb(79, 76, 76);
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
  color: rgb(79, 76, 76);
  font-size: 13px;
}

footer li {
  margin-bottom: 5px;
}

.links h4 {
  transform: translateX(-1px);
}

.email {
  width: 90%;
  padding: 5px 0px 5px 8px;
  margin-bottom: 15px;
}

.fa-brands {
  font-size: 25px;
  width: 40px;
  text-decoration: none;
  color: black;
}

.fa:hover {
  opacity: 0.7;
}
