.title-page {
  margin-top: 50px;
  margin-bottom: 100px;
}

.intro {
  display: flex;
}

.plate-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plate-image img {
  height: 500px;
}

.info-container {
  width: 50%;
  padding-top: 100px;
}

.info {
  width: 70%;
}

.discount {
  background-color: rgb(12, 166, 12);
  color: white;
  display: inline-block;
  padding: 8px 30px;
  margin-bottom: 30px;
  font-size: 17px;
}

.info h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.info p {
  margin-bottom: 30px;
}

.explore {
  background-color: rgba(255, 217, 0, 0.833);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.explore:hover {
  opacity: 0.7;
}
